/* APAGAR BLOCOS ABAIXO APÓS DEPLOY */
/* APAGAR BLOCOS ABAIXO APÓS DEPLOY */
/* APAGAR BLOCOS ABAIXO APÓS DEPLOY */
body {
  margin: auto;
  background-color: #fbf7f6;
}
#reguaTesteTela {
  height: 5000px;
}
#anBar {
  height: 48.8px;
  color: white;
  background-color: black;
}
header {
  color: white;
  background-color: orangered;
  height: 113px;
}

.bg01 {
  /* background-color: greenyellow; */
}
.bg02 {
  /* background-color: orange; */
}
.bg03 {
  /* background-color: red; */
}
.bg04 {
  /* background-color: purple; */
}

/* section {
  max-width: 1200px;
} */

/* .animaRot030 {
  animation: movimento030 5s infinite;
}
@keyframes movimento030 {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
.animaRot015 {
  animation: movimento015 5s infinite;
}
@keyframes movimento015 {
  50% {
    transform: rotate(-15deg);
  }
}
.animaRot000 {
  animation: movimento00 1s;
}
@keyframes movimento00 {
  50% {
    transform: rotate(0deg);
  }
} */

/* APAGAR BLOCOS ACIMA APÓS DEPLOY */
/* APAGAR BLOCOS ACIMA APÓS DEPLOY */
/* APAGAR BLOCOS ACIMA APÓS DEPLOY */
.animaFlutua {
  animation: flutuando 3s ease-in-out infinite;
}
@keyframes flutuando {
  50% {
    transform: translateY(5px) rotate(-5deg) scale(1.01, 1.01);
  }
}

div#posDiv {
  margin: auto;
  width: 50%;
}
#blocoSplash {
  height: 720px;
  background-color: bisque;
  margin: auto;
}
#blocoMarquee {
  height: max-content;
  width: 100%;
}
img#imgMarquee {
  width: 100%;
}
img#imgInst {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.posCaixaFixa {
  position: fixed;
  /* top: 100px; */
}
.posCaixaParada {
  position: relative;
  top: 2000px;
}

section#blocoIcones {
  max-width: 1200px;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
}
div#gridIco {
  display: flex;
  text-align: center;
}
div#posDireita,
div#posEsquerda {
  width: 50%;
}
div#posEsquerda {
  text-align: left;
}
div#posDireita {
  text-align: right;
}
img#icoZeroLac,
img#icoZeroAc,
img#icoProteina,
img#icoOmega3 {
  margin: 25px;
}
