/* APAGAR BLOCOS ABAIXO APÓS DEPLOY */
/* APAGAR BLOCOS ABAIXO APÓS DEPLOY */
/* APAGAR BLOCOS ABAIXO APÓS DEPLOY */
body {
  margin: auto;
  background-color: #fbf7f6;
  overflow-x: hidden;
}
@font-face {
  font-family: trimPosterNaveia;
  src: url(https://cdn.shopify.com/s/files/1/0576/1446/7204/files/TrimPosterCompressed.otf);
}
@font-face {
  font-family: ttNormsProRegular;
  src: url(https://cdn.shopify.com/s/files/1/0576/1446/7204/files/TT_Norms_Pro_Regular.otf);
}
@font-face {
  font-family: ttNormsProBold;
  src: url(https://cdn.shopify.com/s/files/1/0576/1446/7204/files/TT_Norms_Pro_Bold.otf);
}
.h_naveia {
  font-family: trimPosterNaveia !important;
  color: black;
}
.ttNormsProRegular {
  font-family: ttNormsProRegular !important;
}
.ttNormsProBold {
  font-family: ttNormsProBold !important;
}

#reguaTesteTela {
  height: 5000px;
}
#anBar {
  height: 48.8px;
  color: white;
  background-color: black;
}
header {
  color: white;
  background-color: orangered;
  height: 113px;
}

.bg01 {
  background-color: greenyellow;
}
.bg02 {
  background-color: orange;
}
.bg03 {
  background-color: red;
}
.bg04 {
  background-color: purple;
}

/* section {
  max-width: 1200px;
} */

/* .animaRot030 {
  animation: movimento030 5s infinite;
}
@keyframes movimento030 {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
.animaRot015 {
  animation: movimento015 5s infinite;
}
@keyframes movimento015 {
  50% {
    transform: rotate(-15deg);
  }
}
.animaRot000 {
  animation: movimento00 1s;
}
@keyframes movimento00 {
  50% {
    transform: rotate(0deg);
  }
} */

/* APAGAR BLOCOS ACIMA APÓS DEPLOY */
/* APAGAR BLOCOS ACIMA APÓS DEPLOY */
/* APAGAR BLOCOS ACIMA APÓS DEPLOY */

.displayNone {
  display: none;
}
.displayContents {
  display: contents;
}

/* POSIÇÃO GERAL BLOCOS */
div#posDiv {
  /* margin: auto; */
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 25%; */
}
@media screen and (max-width: 360px) {
  div#posDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
#blocoSplash {
  height: 720px;
  /* background-color: bisque; */
  /* margin: auto; */
}
@media screen and (max-width: 360px) {
  #blocoSplash {
    height: 525px;
  }
}

/* ANIMAÇÃO >>>>>>>>>>>>>>>>>>>>> GRÃO DE AVEIA */
img.elAveia {
  position: absolute;
}
#elAveia01 {
  left: 32%;
  top: 33%;
  width: 5%;
  transform: rotate(-30deg);
  animation-delay: 1s;
  animation-duration: 3s;
  animation-name: elAveiaEsquerda;
}
#elAveia02 {
  left: 60%;
  top: 27%;
  width: 5%;
  transform: rotate(-30deg);
  animation-delay: 1s;
  animation-duration: 3s;
  animation-name: elAveiaDireita;
}
@media screen and (max-width: 1920px) {
  #elAveia01 {
    width: 5%;
    transform: rotate(10deg);
  }
  #elAveia02 {
    width: 5%;
    transform: rotate(-15deg);
  }
  @keyframes elAveiaEsquerda {
    0% {
      left: 50%;
      top: 50%;
    }
    100% {
      left: 32%;
      top: 33%;
    }
  }
  @keyframes elAveiaDireita {
    0% {
      left: 50%;
      top: 50%;
    }
    100% {
      left: 60%;
      top: 27%;
    }
  }
}
@media screen and (max-width: 1440px) {
  #elAveia01 {
    left: 30%;
    top: 38%;
    width: 5%;
    transform: rotate(-5deg);
  }
  #elAveia02 {
    left: 65%;
    top: 50%;
    width: 8%;
    transform: rotate(-30deg);
  }
}
img#elAveia03 {
  top: 50%;
  left: -2%;
  width: 7%;
  transform: rotate(180deg);
  position: relative;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-name: elAveiaBlur;
}
@keyframes elAveiaBlur {
  0% {
    left: -10%;
    top: 50%;
  }
  100% {
    left: -2%;
    top: 50%;
  }
}

/* VIDEO >>>>>>>>>>>>>>>>>>>>>> SPLASH */
div#splashEstatico {
  height: -webkit-fill-available;
  background-image: url(https://cdn.shopify.com/s/files/1/0576/1446/7204/files/splash_home_02.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  animation-name: bgSplash;
  animation-duration: 1s;
  /* animation-timing-function: ease; */
  /* animation-iteration-count: infinite; */
}
@keyframes bgSplash {
  0% {
    background-position: 50%;
    background-size: 50%;
  }
  100% {
    width: 100%;
    background-size: 100%;
  }
}
div#playerVideo {
  position: absolute;
}
.background-video {
  width: 100vw;
  height: 720px;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
@media (max-width: 600px) {
  .background-video {
    /* display: none; */
    height: 100vh;
  }
  /* .background-video {
    background: url('https://cdn.shopify.com/s/files/1/0576/1446/7204/files/image_16.png')
      no-repeat;
    background-size: cover;
  } */
}
/* div#claimMarca {
  text-align: center;
  font-size: 105px;
} */
#background-video-OFF {
  display: none;
}

/* POSICAO CAIXA FIXA + SCROLL + FLUTUA */
.posCaixaFixa {
  position: fixed;
  top: 120px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 3s ease;
}
@media screen and (max-width: 1920px) {
  .posCaixaFixa {
    /* top: 120px; */
    top: 160px;
  }
}
@media screen and (max-width: 1680px) {
  .posCaixaFixa {
    /* top: 170px; */
    top: 190px;
  }
}
@media screen and (max-width: 1440px) {
  .posCaixaFixa {
    /* top: 120px; */
    top: 140px;
  }
}
@media screen and (max-width: 1024px) {
  .posCaixaFixa {
    top: 100px;
  }
}
@media screen and (max-width: 900px) {
  .posCaixaFixa {
    top: 100px;
  }
}
@media screen and (max-width: 360px) {
  .posCaixaFixa {
    top: 170px;
  }
}

/* POSICAO CAIXA >>>>> RELATIVA + ROTATE */
.posCaixaParada {
  position: relative;
  width: 300px;
  top: 1500px;
}
@media screen and (max-width: 1920px) {
  .posCaixaParada {
    position: relative;
    /* top: 1800px; */
    top: 1720px;
  }
}
@media screen and (max-width: 1680px) {
  .posCaixaParada {
    position: relative;
    top: 1680px;
  }
}
@media screen and (max-width: 1440px) {
  .posCaixaParada {
    position: relative;
    top: 1600px;
  }
}
@media screen and (max-width: 1024px) {
  .posCaixaParada {
    position: relative;
    top: 1600px;
  }
}
@media screen and (max-width: 360px) {
  .posCaixaParada {
    position: relative;
    top: 1600px;
  }
}

/* MEDIA IMG >>>>>>>>>>>>> CAIXA NAVEIA */
div#divCaixaNaveia {
  z-index: 1;
}
@media screen and (max-width: 1900px) {
  img#caixaNaveia {
    width: 100%;
  }
}
@media screen and (max-width: 1680px) {
  img#caixaNaveia {
    width: 100%;
  }
}
@media screen and (max-width: 1440px) {
  img#caixaNaveia {
    width: 95%;
  }
}
@media screen and (max-width: 1024px) {
  img#caixaNaveia {
    width: 90%;
  }
}
@media screen and (max-width: 612px) {
  img#caixaNaveia {
    width: 80%;
    /* background-color: purple; */
  }
}
@media screen and (max-width: 414px) {
  img#caixaNaveia {
    width: 60%;
    /* background-color: yellowgreen; */
  }
}
@media screen and (max-width: 360px) {
  img#caixaNaveia {
    width: 60%;
  }
}
@media screen and (max-width: 280px) {
  img#caixaNaveia {
    width: 50%;
    background-color: red;
  }
}

/* ANIMA >>>>>>>>>>>>>>>>>>>>>>>>>>>>> FLUTUAR */
.animaFlutua {
  animation: flutuando 3s ease-in-out infinite;
}
@keyframes flutuando {
  50% {
    transform: translateY(5px) rotate(-5deg) scale(1.01, 1.01);
  }
}

/* BLOCO >>>>>>>>>>>>>>>>>>>>>> MARQUEE */
/* #blocoMarquee {
  height: max-content;
  width: 100%;
}
img#imgMarquee {
  width: 100%;
} */
section#blocoMarqueeDeleiteVegetal {
  /* height: 350px; */
  height: 200px;
  display: flex;
  flex-direction: column;
}
section#blocoMarqueeDeleiteVegetal {
  margin-top: 75px;
  margin-bottom: 75px;
}
.rotacionaMarq {
  transform: rotate(-2deg);
}
.m-scroll {
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;
  margin: auto;
  overflow: hidden;
  z-index: 0;
}
.m-scroll__INV {
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;
  margin: auto;
  overflow: hidden;
  z-index: 0;
}

.m-scroll__title {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  /* width: 100%; */
  /* height: 100%; */
  white-space: nowrap;
  transform: scale(2);
}
.m-scroll__title__INV {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  /* width: 100%; */
  /* height: 100%; */
  white-space: nowrap;
  transform: scale(2);
}
.m-scroll__title > div {
  display: flex;
  animation: scrollText 360s infinite linear;
}
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
.m-scroll__title__INV > div {
  display: flex;
  animation: scrollTextINV 210s infinite linear;
  animation-direction: reverse;
}
@keyframes scrollTextINV {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
.h1_marquee {
  /* margin: 0; */
  margin: 5px;
  font-size: 60px;
  letter-spacing: 2px;
  font-kerning: none;
  transition: all 1s ease;
}
.h1_marquee__INV {
  /* margin: 0; */
  margin: 5px;
  font-size: 60px;
  letter-spacing: 2px;
  transition: all 1s ease;
}

.marqPos {
  color: black;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: black;
}

.marqPos:hover {
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.01px;
  -webkit-text-stroke-color: black;
}
@media screen and (max-width: 360px) {
  .marqPos:hover {
    color: black;
    -webkit-text-fill-color: black;
  }
}

.marqNeg {
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.01px;
  -webkit-text-stroke-color: black;
}
@media screen and (max-width: 360px) {
  .marqNeg {
    color: black;
    -webkit-text-fill-color: black;
  }
}
.marqNeg:hover {
  color: black;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: black;
}

/* BLOCO >>>>>>>>>>>>>>>>>>>>>>> ÍCONES */
section#blocoIcones {
  max-width: 1200px;
  margin: auto;
  /* margin-top: 50px; */
  margin-top: 150px;
  margin-bottom: 100px;
}
@media screen and (max-width: 1920px) {
  section#blocoIcones {
    max-width: 1300px;
  }
}
@media screen and (max-width: 360px) {
  section#blocoIcones {
    z-index: 1;
    position: relative;
  }
}
div#gridIco {
  display: flex;
  text-align: center;
}
@media screen and (max-width: 360px) {
  div#gridIco {
    flex-direction: column;
    width: 100%;
  }
}
.gridIcoReverse {
  flex-direction: row-reverse;
}
div#posDireita,
div#posEsquerda {
  width: 50%;
}
div#posEsquerda {
  text-align: left;
}
div#posDireita {
  text-align: right;
}
@media screen and (max-width: 360px) {
  div#posDireita,
  div#posEsquerda {
    width: 100%;
    text-align: inherit;
  }
}

/* ÍCONES */
img#icoZeroLac,
img#icoZeroAc,
img#icoProteina,
img#icoOmega3 {
  margin: 25px;
}
@media screen and (max-width: 900px) {
  div#gridIco > div > div > img {
    width: 60%;
  }
}
@media screen and (max-width: 800px) {
  div#gridIco > div > div > img {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  div#gridIco > div > div > img {
    width: 60%;
  }
  section#blocoIcones {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

/* BLOCO >>>>>>>>>>>>>>> INSTITUCIONAL */
img#imgInst {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (max-width: 1920px) {
  img#imgInst {
    width: 100%;
  }
}
@media screen and (max-width: 1440px) {
  img#imgInst {
    width: 100%;
  }
}
