#posCaixaFixa {
  position: fixed;
  top: 100px;
}

.parado {
  position: fixed;
  background-color: black;
  animation: none;
}
.pos000 {
  /* background-color: red; */
  /* transform: rotate(0deg); */
  transition: transform 1.5s;
  animation: flutuando 5s ease-in-out infinite;
}
.pos015 {
  /* background-color: yellow; */
  /* transform: rotate(-15deg); */
  transition: transform 1.5s;
  animation: flutuando 5s ease-in-out infinite;
}
.pos030 {
  /* background-color: yellow; */
  /* transform: rotate(-30deg); */
  transition: transform 1.5s;
  animation: flutuando 5s ease-in-out infinite;
}

.animaFlutua {
  animation: flutuando 5s ease-in-out infinite;
}
@keyframes flutuando {
  0% {
    transform: translateY(0px) rotate(-25deg);
  }
  50% {
    transform: translateY(20px) rotate(-15deg);
  }
  100% {
    transform: translateY(0px) rotate(-25deg);
  }
}

.animaRot030 {
  animation: movimento030 5s infinite;
}
@keyframes movimento030 {
  50% {
    transform: rotate(-30deg);
  }
}
.animaRot015 {
  animation: movimento015 5s infinite;
}
@keyframes movimento015 {
  50% {
    transform: rotate(-15deg);
  }
}
.animaRot000 {
  animation: movimento00 5s;
}
@keyframes movimento00 {
  50% {
    transform: rotate(0deg);
  }
}
